@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html body {
    width: 100%;
    height: 100%;
}

.path {
    font-weight: 700;
}

.search-bar {
    position: relative;
    left: 25%;
}

.input-group {
    width: 550px !important;
}

.navbar {
    background-color: #67B9F4 !important;
}

.Header1,.Header2 {
    background-color: #67B9F4 !important;
}

.navbar li a:hover {
    color: white !important;
}

.nav-item {
    font-weight: 500;
}

.fa-instagram {
    color: #dd4b39;
}

.fa-instagram:hover {
  color: white;
}

footer {
    background-color: #67B9F4;
}

.footer2 {
  background-color: black; 
  color: white;
}